*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

h3{
  color: #9E0A5D;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.container{
  display: flex;
  width: 500px;
  height: 400px;
  background-color: cadetblue;
  margin: 0px auto;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  padding: 20px;
  width: 100px;
  height: 100px;
  background-color: #9E0A5D;
  border: 1px solid black;
}

.container.uno .box{
  margin: 20px;
}

.container.tre {
flex-direction: column;
}

.container.quattro{
  flex-direction: row-reverse;
}

.container.cinque{
  flex-direction: column-reverse;
}

.container.sei{
  justify-content: flex-end;
}

.container.sette{
  justify-content: flex-start;
}

.container.otto{
  flex-direction: column;
  justify-content: flex-end;
}

.container.nove{
  flex-direction: column;
  justify-content: flex-start;
}

.container.dieci{
  justify-content: center;
}

.container.undici{
  justify-content: space-between;
}

.container.dodici{
  justify-content: space-around;
}

.container.tredici{
  justify-content: space-evenly;
}

.container.quattordici{
  align-items: center;
}

.container.quindici{
  justify-content: center;
  align-items: center;
}

.container.sedici{
  align-items: baseline;
}

.container.sedici .uno{
  height: 150px;
}
.container.sedici .due{
  height: 200px;
}

.container.sedici .tre{
  height: 50px;
}

.container.diciasette{
  align-items: stretch;
}